.cabecalho {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    justify-content: center;
    padding: 67px;
}

.cabecalho-navegacao-lista {
    display: flex;
    gap: 80px;

}

.cabecalho-navegacao-link {
    color: var(--azul-claro);
    font-size: 24px;
    font-weight: 600;
}